In [135]:
import pickle as pkl
import pandas as pd
import numpy as np

In [136]:
df = pd.read_pickle("results.pkl")

In [142]:
wins_by_up_card = df[["dealer_up_card_value", "player_hand_value", "player_won"]]
wins_by_up_card["player_won"] = wins_by_up_card["player_won"].astype(float)
wins_by_up_card.pivot_table(index="player_hand_value", columns="dealer_up_card_value")

<ipython-input-142-5c2bc66abb95>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wins_by_up_card["player_won"] = wins_by_up_card["player_won"].astype(float)

                     player_won                                          \
dealer_up_card_value         1         2         3         4         5
player_hand_value
12                     0.000000  0.571429  0.416667  0.285714  0.571429
13                     0.200000  0.500000  0.307692  0.416667  0.500000
14                     0.000000  0.222222  0.444444  0.200000  0.750000
15                     0.250000  0.125000  0.375000  0.428571  0.000000
16                     0.000000  0.500000  0.583333  0.571429  0.363636
17                     0.100000  0.000000  0.800000  0.250000  0.333333
18                     0.250000  0.750000  0.444444  0.666667  0.666667
19                     0.333333  0.833333  0.875000  0.333333  0.750000
20                     0.666667  0.571429  0.916667  1.000000  0.666667
21                     1.000000  1.000000  0.750000  1.000000  1.000000


dealer_up_card_value        6         7         8         9         10
player_hand_value
12                    0.750000  0.222222  0.142857  0.375000  0.212121
13                    0.166667  0.555556  0.222222  0.214286  0.195122
14                    0.142857  0.250000  0.454545  0.181818  0.153846
15                    0.000000  0.363636  0.285714  0.100000  0.241379
16                    0.500000  0.375000  0.125000  0.250000  0.291667
17                    0.250000  0.333333  0.166667  0.333333  0.185185
18                    0.714286  0.571429  0.142857  0.400000  0.333333
19                    0.555556  0.833333  0.666667  0.750000  0.314286
20                    1.000000  0.888889  0.846154  0.700000  0.516129
21                    1.000000  1.000000  1.000000  1.000000  0.875000

In [141]:
perc_player_wins = df["player_won"].sum() / df["player_won"].count()
perc_player_wins

0.421

In [144]:
n_events = df["player_won"].count()
n_events

1000

# This is a markdown cell

Can I use variables in by cell perc_player_wins